#anchor{
	-fx-background-image: url("/client/image/loginbackground.jpg");
	-fx-shape:"M0 13 C0 5 5 0 13 0 L86 0 C94 0 99 5 99 13 L99 86 C99 94 94 99 86 99 L13 99 C5 99 0 94 0 86Z";
}
.text-input {
    -fx-text-fill: white;    
}
/*
#jbtnOk{
	-fx-background-color: #76ff03;
	-fx-background-radius: 90;
}
*/